#mvpclub-player-tabs .mvpclub-tab-content{display:none;}
#mvpclub-player-tabs .mvpclub-tab-content.active{display:block;}
.mvpclub-main-position{font-weight:bold;background:#f0f8ff;}
#tab-statistik{overflow-x:auto;}
#tab-statistik table{width:100%;table-layout:fixed;}
#tab-statistik input,#tab-statistik select{width:100%;box-sizing:border-box;}
#tab-radar .mvpclub-radar-flex{display:flex;justify-content:space-between;align-items:flex-start;gap:20px;}
#tab-radar .mvpclub-radar-settings{flex:1;}
#tab-radar .mvpclub-radar-settings tr{display:flex;align-items:center;gap:8px;}
#tab-radar .mvpclub-radar-settings td:first-child{flex:1;}
#tab-radar .mvpclub-radar-settings input[type="text"]{width:100%;}
#tab-radar .mvpclub-radar-settings input[type="range"]{flex:1;}
#tab-radar .mvpclub-radar-settings output{width:3em;text-align:right;display:block;}
#mvpclub-radar-preview{display:block;max-width:250px;margin-left:auto;align-self:flex-start;}
#birthplace_country.mvpclub-emoji-select{width:4em;}
#birthplace_city{width:21em;}
